.n-map{

    &-wrapper {
        height: 500px;
        width: 100%;
        border: 1px black solid;
    }

    &__locate-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    margin-bottom: 200px;
}

.n-profile .n-map__locate-btn {
    position: absolute;
    top: 1px;
    right: 16px;
}

.n-info-window {
    img {
        width: 30px;
        height: 30px;
    }

    &-members-list {
        max-height: 100px;
        overflow: scroll;
    }

    &-member{
        height: 40px;
        a {
            display: inline-block;
        }
    }

    &-user {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0px;
        white-space: nowrap;
        max-width: 100px;
        margin-top: 10px;
    }

    text-align: center;
}

@media only screen and (max-width: 750px) {
    .n-map__locate-btn {
        right: 15px;
    }
}

ul {
    list-style-type: none;
}
