.n-map{

    &-wrapper {
        height: 300px;
        width: 100%;
        border: 1px black solid;
    }

    &__locate-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.n-profile .n-map__locate-btn {
    position: absolute;
    top: 1px;
    right: 16px;
}

@media only screen and (max-width: 750px) {
    .n-map__locate-btn {
        right: 15px;
    }
}
