.n-business {
    width: 60%;
    margin: 0 auto;

    & h1 {
        margin: 50px auto;
        text-align: center;
    }

    & textarea {
        margin: 13px 0px;
        resize: none;
    }

    & input{
        width: 200px;
        margin: 0px 0px 13px 0px;
    }

    #postBtn {
        text-align: center;
    }

    .n-map {
        margin-bottom: 30px;
    }
}
