.n-comment-textarea{
  resize: none;
  height: 29px !important;
  font-size: 11px;
  padding: 6px;
  overflow: auto;
  width: 100%;
}

.n-comment-footer{
  height: 70px;
}
.n-comment-btn{
  font-size: 11px;
  color:#006bb3;
}
.n-comment-btn:hover{
  cursor: pointer;
  text-decoration: underline;
}