#mainContainer{
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.n-mystreet-leftCol{
    margin: 0px 40px;
    height: 300px;
    border: black 1px solid;
}

.n-mystreet-members-panel{
    text-align: center;
}

.n-mystreet-member{
    height: 35px;
    width: 100px;
    margin: auto;
    display: block;
}
.n-member-name{
    font-weight: bold;
    padding: 5px;
}

.n-mystreet-group-details{
    text-align: center;
}

.n-mystreet-mainContainer{
    margin-top: 20px;
}

.n-mystreet-content{
    maring:0px;
}
