#mainContainer{
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.n-mystreet-members-panel{
    text-align: center;
}

.n-mystreet-member{
    height: 35px;
    width: 100px;
    margin: auto;
    display: block;
}
.n-member-name{
    font-weight: bold;
    padding: 5px;
}

.n-mystreet-group-details{
    text-align: center;
}

.n-mystreet-wrapper{
    margin-top: 20px;
}
