.panel{
    background: white;
    padding: 0px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.n-postform-footer{
    display: flex;
}

.n-btn-post{
    float: right;
    background: orange;
    border-color: grey;
}

.n-post-btn-wrapper{
    flex:1;
}

.n-btn-post:hover{
    background: #ffa500;
    color:whitesmoke;
}

.n-postform-textarea{
    resize: none;
    border-radius: 2px;
    width:100%;
    overflow: auto;
}
.n-footer-filepicker{
    flex:1;
}

.n-postform-panel{
    min-width: 360px;
}
