.panel{
    background: white;
    padding: 0px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.n-btn-post{
    float: right;
    background: orange;
    border-color: grey;
}

.n-post-btn-wrapper{
    flex:1;
}

.n-btn-post:hover{
    background: #ffa500;
    color:whitesmoke;
}

.n-postform {

    &-textarea {
        resize: none;
        border-radius: 2px;
        width:100%;
        overflow: auto;
    }

    &-footer {
        display: flex;
    }
}

.n-footer-filepicker{
    flex:1;
    width: 70%;
}

.x-rtl .n-post-form textarea{
    direction: rtl;
}

.upload-image-gif {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('https://cdn.dribbble.com/users/26878/screenshots/2383608/upload2.gif')
    50% 50%
    no-repeat;
}

#n-uploadimg {
    display: none;
}

body.uploadImg {
    overflow: hidden;
}

body.uploadImg #n-uploadimg {
    display: block;
}

#progressWrapper {
    width: 100%;
    padding: 5px 11px;
    background-color: white;
}

#progressTxt {
    margin: 5px 0px;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: orange;
}

.progress-bar {
     background-color: orange;
}
