.n-dashboard {

    &-search{
        display: flex;
        height: 100vh;
    }
    &-wrapper{
        background-size: cover;
        background-position: center center;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        opacity: 0.7;
        position: absolute;
        z-index: -10;
        height: 100%;
        width: 100%;
    }

    &-img {
        display: none;
    }

    &-title {
        display: none;
    }

    &-subtitle {
        display: none;
    }

    video {
        min-width:100%;
        max-width:100%;
        width: auto;
        height: auto;
        background-size: cover;
        position: absolute;
        z-index: -200;
    }
    img {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1000;
    }
}

@media screen and (max-width: 780px) {
    video {
        display: none;
    }

    .n-dashboard-img {
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .n-search-tips-container {
        display: none;
    }

    .n-dashboard {

        &-img {
            display: inline-block;
            position: relative !important;
        }

        &-title {
            display: inline-block;
            margin: 25px 25px 0px 25px;
        }

        &-subtitle {
            display: inline-block;
            margin: 0px 25px;
            color: darkorange;
            font-weight: 200;
        }
    }

}

