.pac-container{
    width:328px! important;
    text-align: left!important;
    margin:0!important;
    padding:0!important;
}

.pac-matched{
    box-shadow: none!important;
    margin:0px!important;
    padding:0px!important;
    font-size: 14px;
}

#googlesearchtxt::placeholder {
    text-align: left;
    direction: ltr;
}

.x-rtl #googlesearchtxt::placeholder {
    text-align: right;
    direction: rtl;
}

.pac-item{
    height: 28px;
    direction: ltr!important;
}

.pac-item-query{

    margin:0px 3px 0px 3px !important;
    padding:0px!important;
    box-shadow: none!important;
    font-size: 13px;
}

.pac-item:hover{
    background-color: #E8E8E8 !important;
    cursor: pointer;
}

.pac-container:after {
    background-image: none !important;
    display: none;
}

.pac-icon{
    display: none;
}

.n-google-search{
    &-form {
        display: inline-block;
    }
    &-btn-search{
        background: orange;
        border-color: grey;
    }
    &-btn-search:hover{
        background: #e59400;
        border-color: grey;
    }
    &-textfield{
        width:260px;
        margin: 0px 5px;
        display: inline-block;
    }
}

#searchsubmit-s {
    display: none;
}

@media screen and (max-width: 450px) {

    .n-google-search{
        &-textfield {
            width: 220px;
        }
    }
}

@media screen and (max-width: 767px) {
    #searchsubmit-m {
        display: none;
    }
    #searchsubmit-s {
        display: inline-block;
    }
}
