.n-mystreet {
    margin-top: 20px;
    padding: 0 40px;

    &-leftCol {
        height: 300px;
        border: black 1px solid;
    }

    &-members-panel{
        text-align: center;
    }

    &-member{
        height: 35px;
        width: 130px;
        margin: auto;
        display: block;
    }

    &-member-name{
        font-weight: bold;
        padding: 5px;
    }

    &-group-details{
        text-align: center;
        min-height: 70px;
    }

    &-content{
        margin:0px;
    }

    &-page-header{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 9px;
        border-bottom: 1px solid #eed;
    }

    &-street-name{
        margin: auto;
        font-size: 24px;
    }
    &__add-street {
        display: flex;
        margin-left: -5px;

        &-btn{
            height: 35px;
            background: orange;
            border-color: grey;

            &:hover {
                color: #333333;
            }
        }
    }
}
