.n-post-footer {

}
.n-footer-btn {
    color: #006bb3;
    margin: 0px 5px;
    display: inline-block;
}
.n-footer-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
hr {
    border: 0px;
    height: 0px;
    margin: 3px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.n-post-header {
    padding-left: 15px;
    display: inline-block;
    position: relative;
    width: 100%;
}
.x-rtl .n-post-header{
    padding-right: 15px;
}

.n-post-user-icon {
    display: inline-block;
    margin: 0px 7px 0px 0px;
    border-radius: 2px;
    float: left;
    width: 35px;
    height: 35px;
}
.x-rtl .n-post-user-icon {
    margin: 0px 0px 0px 7px;
}
.n-post-user{
    font-size: 14px;
    font-weight: bold;
}
.n-post-date{
    font-size: 12px;
    color: grey;
}

.typing{
    font-style: italic;
    font-size: 11px;
}

.n-post-body{
    padding: 15px 15px 3px 15px;
}

.n-text-12{
    font-size: 12px;
}

.n-reactions-icon{
    width: 15px;
    height: 15px;
}

.n-post-reactions{
    display: inline-block;
    margin: 0px 5px;
}

