
body {
	background: #F8F8FF;
}

.n-msg-wrapper {
    width: 100%;
    height: 30px;
    position: absolute;
    display: block;
    text-align: center;
}

.fadein, .fadeout {
    opacity: 0;
    display: none;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
    display: block !important;
}

#msg-report {
    margin: 0 auto;
    color: #3c763d;
    display: none;
    width: 33%;
    font-size: 16px;
    padding: 15px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loadingImg {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .loadingImg {
    display: block;
}

