.n-header-theme {
    background: orange;
    margin: 0px;
    border: none;
}

.n-search-street-header{
    position: absolute !important;
    margin-left: 31%;
    padding: 7px;
    height: 48px;
}

@media only screen and (max-width: 760px) {
    .n-search-street-header{
        padding: 7px;
        position: relative !important;
        margin: 0px;
        height: 48px;
    }
}


