.n-profile {

    textarea {
        resize: none;
    }

    &-facebook-icon{
        width:20px;
        height: 20px;
    }

    &-photo{
        text-align: center;
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        margin: auto;
        padding: 7px;
    }

    select {
        height: 34px;
    }

    &-user-details{

    }

    &-wrapper {
        padding: 15px;
        margin-top: 20px;
        text-align: center;
    }

    &-text{
        resize: none;
    }

    &-label{
        font-size: 17px;
        font-weight: bold;
    }

    label:first-letter {
        text-transform: uppercase;
    }
}
.slabel {
    font-weight: 300;
    text-align: left !important;
}

.globalContainer {
    textarea {
        resize: none;
    }
}

.page-header {
    h2 {
        text-align: center;
    }
}

.txtleft{
    text-align: left;
}



img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
}
