.n-profile-photo{
    text-align: center;
    width: 100px;
    height: 100px;
    border: black 1px solid;
}

.n-profile-user-details{

}

.n-profile-wrapper {
    margin: auto;
    position: relative;
    top: 50px;
    width: 500px;
}

.n-profile-text{
    resize: none;
}

.n-profile-label{
    font-size: 17px;
    font-weight: bold;
}
