.n-profile {

    textarea {
        resize: none;
    }

    &-photo{
        text-align: center;
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        margin: auto;
        padding: 7px;
    }

    &-user-details{

    }

    &-wrapper {
        padding: 15px;
        margin-top: 20px;
        text-align: center;
    }

    &-text{
        resize: none;
    }

    &-label{
        font-size: 17px;
        font-weight: bold;
    }
}
