.n-search{
    &-wrapper {
        text-align: center;
        padding: 0px;
    }

    &-textfield{
        width:200px;
    }

    &-btn-search{
        background: orange;
        border-color: grey;
    }

    &-btn-search:hover{
        background: #ffa500;
        color:whitesmoke;
    }
}

.n-street-search{
    margin: 25% auto;
}
